<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="Serializers">
			<section name="JsonSerializerSettings" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
		<sectionGroup name="Layouts">
			<section name="SelectorSettings" type="System.Configuration.NameValueSectionHandler" />
			<section name="LayoutSettings" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
	</configSections>
	
	<Serializers>
		<JsonSerializerSettings>
			<add key="PreserveReferencesHandling" value="Objects" />
			<add key="ReferenceLoopHandling" value="Serialize" />
		</JsonSerializerSettings>
	</Serializers>
	<Layouts>
		<SelectorSettings>
			<add key="LayoutsCollectionPath" value="Layouts\Collection" />
		</SelectorSettings>
		
		<LayoutSettings>
			<add key="SelectedLayoutSavePath" value="Layouts\SelectedLayout" />
		</LayoutSettings>
	</Layouts>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>