<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="Editor">
			<section name="Settings" type="System.Configuration.NameValueSectionHandler" />			
			<section name="ToolItems" type="System.Configuration.NameValueSectionHandler" />
			<section name="Grid" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
	</configSections>
	<Editor>
		<Grid>
			<add key="GridCellSizes" value="5,10,15,20,25,30" />
		</Grid>
		<Settings>
			<add key="ToolItemsPath" value="ToolBoxItems" />
		</Settings>
		<ToolItems>						
		</ToolItems>
	</Editor>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>